@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700|Roboto+Condensed:100,200,300,400,500,600,700');

/*---Colors---*/


/*---Media Queries---*/
/*---Tablets---*/
@media screen and (min-width: 768px) {
    .image-center {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: center bottom;
    background-size: 80%;
    background-repeat: no-repeat;
    min-height: 320px;
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}

/*---Desktops---*/
@media screen and (min-width: 1150px) {
    .image-center {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: center bottom;
    background-size: 90%;
    background-repeat: no-repeat;
    min-height: 380px;
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}

/*---Header---*/
.navalert-container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.navbar {
    position: relative;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar-toggler {
    padding: 4px;
    margin-left: 4px !important;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-position-x: left;
}

.navbar .navbar-toggler {
    border: 0;
    float: left;
}

.navbar-light .navbar-toggler {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-toggler:hover {
    color: #ec6200;
    border-color: rgba(0,0,0,.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar-nav {
    display: none;
    position: absolute;
    overflow: auto;
    flex-direction: row;
    margin: 10px 10px;
    min-width: 160px;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    z-index: 1;
}

.navbar-nav a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-brand {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22.7px;
    letter-spacing: 1.5px;
    display: block;
    margin: 10px auto;
    color: #1e1e1e;
}

.navbar-light .navbar-brand {
    color: #1e1e1e;
}

.navbar-light .navbar-brand:hover {
    font-weight: 400;
    text-decoration: none;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #1e1e1e;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #ec6200;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbarNavDropdown {
    text-align: center;
}

/*---Section---*/
.image-top-home {
    background: url("../assets/images/DeathtoStock_Creative Community3.jpg");
    background-blend-mode: overlay;
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 140px;
    margin: 68px 10px 60px 10px;
    flex: auto;
}

.image-top-about {
    background: url("../assets/images/IMG_0067-1.jpg");
    background-blend-mode: overlay;
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 140px;
    margin: 68px 10px 60px 10px;
    flex: auto;
}

.image-top:hover {
    animation: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  width: 80px;
}

body {
    background-color: #1e1e1e;
    text-align: center;
    overflow-y: scroll;
    height: auto;
}

p {
    margin-top: 100px;
    margin-bottom: 1rem;
    color: #fff;
}

.title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}

.spacer-full-width {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.image-center {
    background: url("../assets/images/DeathtoStock_Desk1.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 250px;
    margin: 50px 10px 60px 10px;
    flex: auto;
}

/*---Footer---*/

footer {
    background-color: #fff;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    text-align: center;
}

.footer-nav-link {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    color: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-nav-link:hover {
    text-decoration: none;
    color: #ec6200;
}

.list-inline {
    padding: 10px;
}

.social-links {
    padding: 20px;
    display: block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: #ec6200;
}

