@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700|Roboto+Condensed:100,200,300,400,500,600,700');

/*---Colors---*/


/*----------------------------------------Media Queries-----------------------------------------*/

/*----------------------------------------Mobile----------------------------------------*/

@media only screen and (min-width: 320px) {
    .image-top-home {
        min-height: 9em;
        width: 18em;
    }

    .image-top-title {
        font-size: 7vh;
    }

    .image-skill {
        min-height: 200px;
        width: 38vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 375px) {
    .image-top-home {
        min-height: 11em;
        width: 21em;
    }

    .image-top-title {
        font-size: 9vh;
    }

    .image-skill {
        min-height: 220px;
        width: 45vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 425px) {
    .image-top-home {
        min-height: 12em;
        width: 24em;
    }

    .image-top-title {
        font-size: 7vh;
    }

    .image-skill {
        min-height: 220px;
        width: 52vh;
        margin-left: auto;
        margin-right: auto;
    }
}

/*----------------------------------------Tablets----------------------------------------*/

@media only screen and (min-width: 576px) {
    .image-top-home {
        min-height: 180px;
        width: 92vh;
    }

    .image-top-title {
        font-size: 8vh;
    }

    .image-skill {
        min-height: 220px;
        width: 52vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .image-top-home {
        min-height: 200px;
    }

    .image-top-title {
        font-size: 9vh;
    }

    .image-skill {
        min-height: 220px;
        width: 52vh;
        margin-left: auto;
        margin-right: auto;
    }
}

/*----------------------------------------Desktops----------------------------------------*/

@media only screen and (min-width: 992px) {
    .image-top-home {
        min-height: 220px;
    }

    .image-top-title {
        font-size: 9vh;
    }
}

@media only screen and (min-width: 1200px){
    .image-top-home {
        min-height: 230px;
    }

    .image-top-title {
        font-size: 10vh;
    }
    
    .image-spacer {
        min-height: 25vh;
    }

    .image-skill {
        height: 28vh;
    }

    img {
        height: 35vh;
    }

    .image {
        height: 60vh;
    }
}

/*----------------------------------------Header----------------------------------------*/
.navalert-container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.navbar {
    position: relative;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.navbar-brand {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 1.5px;
    display: block;
    margin: 10px auto;
    color: #1e1e1e;
}

.navbar-light .navbar-brand {
    color: #1e1e1e;
}

.navbar-light .navbar-brand:hover {
    font-weight: 400;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    background-color: #fff;
    text-align: left;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  }
  
  .sidenav a {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 8px 8px 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ec6200;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 3px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .fa-bars {
    color: #1e1e1e;
  }

/*----------------------------------------Section----------------------------------------*/
.image-top-home {
    background: url("../assets/images/DeathtoStock_Creative Community3.jpg");
    background-color: #00000080;
    background-blend-mode: overlay;
    background-position: center 75%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    border: solid;
    border-color: #fff;
    
}

body {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow-y: scroll;
    height: 100%;
}

p {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #fff;
}

.image-top-text{
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.image-top-title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

.page-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    padding: 5px;
}

.skill {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}

.skill-bottom {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    color: #fff;
}

.spacer-full-width {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.spacer-mid-width {
    height: 1px;
    margin: 40px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #adb5bd;
    padding: 0px;
}

/*------- Container for skills background -------*/

.skill-image {
    position: relative;
}
  
.image-skill {
    opacity: 1;
    display: block;
}

img {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-style: solid;
}
  
.middle {
    height: 80%;
    width: 80%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.skill-image:hover .image-skill {
    opacity: 0.5;
}
  
.skill-image:hover .middle {
    opacity: 1;
}

/*------- Skill Bars -------*/
.skill-bar {
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
    top: 50%;
    position: relative;
    border: solid;
    border-radius: 15px;
    background-color: #ffffff3d;
}

.skills {
    text-align: center;
    color: #1e1e1e;
}

.js {
    width: 30%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #fbcb39;
}

.html {
    width: 75%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #e34c26;
}

.css {
    width: 80%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #0070ba;
}

.sql {
    width: 10%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #d47728;
}

.python {
    width: 15%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #1e7d57;
}

.django {
    width: 15%;
    text-align: left;
    padding-left: 7px;
    border-radius: 15px;
    background-color: #b212da;
}

.spacer-bottom {
    margin-bottom: 60px;
}
/*----------------------------------------Footer----------------------------------------*/

footer {
    background-color: #fff;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    text-align: center;
    text-decoration: none;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #1e1e1e;
}

.nav-link:hover {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #ec6200;
}

.navbar-footer-nav {
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-nav-link {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 5px 20px 5px;
    padding: 0px;
    color: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-nav-link:hover {
    text-decoration: none;
    color: #ec6200;
}

.footer-nav-item {
    text-decoration: none;
    margin-right: 0;
}

.list-inline {
    padding: 10px;
}

.social-links {
    padding-bottom: 20px;
    display: block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: #ec6200;
}

ul {
    margin-bottom: 0;
}


/*----------------------------------------About----------------------------------------*/

.image-top-about {
    background: url("../assets/images/profile-01.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    border: solid;
    border-color: #fff;
}

.spacer-about-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.about-para {
    margin-left: auto;
    margin-right: auto;
}

.about-bottom-center {
    margin-top: 80px;
}

.image-play-one {
    background: url("../assets/images/DeathtoStock_Simplify3 copy.jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-play-two {
    background: url("../assets/images/drums-01.jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-play-three {
    background: url("../assets/images/Death_to_Stock_Photography_RideorDie_3 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-play-four {
    background: url("../assets/images/iron-throne-01.JPG");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-play-five {
    background: url("../assets/images/Death_to_stock_photography_farm_8 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-play-six {
    background: url("../assets/images/DeathtoStock_SlowDown5 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 11vh;
    max-width: 100%;
    padding: 3px;
    border: solid;
    border-color: #fff;
    
}

.image-spacer {
    margin: 10px;
}

.container-images {
    margin-bottom: 50px;
}





/*----------------------------------------History----------------------------------------*/

.image-top-history {
    background: url("../assets/images/IMG_0630_rt2 copy.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    border: solid;
    border-color: #fff;
    
}

.spacer-history-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.timeline-item {
    padding: 2em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    text-align: center;
}

.timeline-item p {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.timeline-item h4 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    background: #fafafa;
}

.history-items {
    margin-bottom: 60px;
}

.section-column {
    margin-left: auto;
    margin-right: auto;
}

/*----------------------------------------Contact----------------------------------------*/

.image-top-contact {
    background: url("../assets/images/Death_to_stock_photography_Wake_Up_2 copy.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    border: solid;
    border-color: #fff;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ec6200;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #bb4e00;
}

.container.contact-top {
    margin-bottom: 10px;
    padding: 0px 20px 5px 20px;
}

.container.contact-form {
    border-radius: 5px;
    background-color: #1e1e1e;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 20px;
}

.spacer-contact-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

/*---Project---*/




