@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700|Roboto+Condensed:100,200,300,400,500,600,700');

/*---Colors---*/


/*----------------------------------------Media Queries-----------------------------------------*/
/*----------------------------------------Tablets----------------------------------------*/
@media screen and (min-width: 768px) {
    .image-top-home {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: center bottom;
    background-size: 80%;
    background-repeat: no-repeat;
    min-height: 320px;
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}


/*----------------------------------------Desktops----------------------------------------*/
@media screen and (min-width: 1200px) {
    .image-top-home {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: top;
    background-size: 90%;
    background-repeat: no-repeat;
    
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}

.btn {
    display: none;
}

/*----------------------------------------Header----------------------------------------*/
.navalert-container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.navbar {
    position: relative;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: transparent;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-secondary {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
}

.btn-secondary:hover {
    color: #ec6200;
    background-color: transparent;
    border-color: transparent;
}

.show>.btn-secondary.dropdown-toggle {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    border-radius: 4px;
    border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
}

.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    font-family: "Oswald", sans-serif;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 300;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #1e1e1e;
}

.dropdown-item:hover {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #ec6200;
}

.navbar-brand {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22.7px;
    letter-spacing: 1.5px;
    display: block;
    margin: 10px auto;
    color: #1e1e1e;
}

.navbar-light .navbar-brand {
    color: #1e1e1e;
}

.navbar-light .navbar-brand:hover {
    font-weight: 400;
    text-decoration: none;
}

/*----------------------------------------Section----------------------------------------*/
.image-top-home {
    background: url("../assets/images/DeathtoStock_Creative Community3.jpg");
    background-blend-mode: overlay;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 200px;
    margin: 80px 10px 60px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-top-home:hover {
    animation: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 80px;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow-y: scroll;
    height: auto;
}

p {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #fff;
}

.title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}

.skill {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}

.skill-bottom {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    color: #fff;
}

.spacer-full-width {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.image-java {
    background: url("../assets/images/javascript_logo.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 180px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-sql {
    background: url("../assets/images/logo-sql.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 180px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-python {
    background: url("../assets/images/python.jpeg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 180px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-django {
    background: url("../assets/images/django.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 180px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

/*----------------------------------------Footer----------------------------------------*/

footer {
    background-color: #fff;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    text-align: center;
    text-decoration: none;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #1e1e1e;
}

.nav-link:hover {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #ec6200;
}

.navbar-footer-nav {
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-nav-link {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 5px 20px 5px;
    padding: 0px;
    color: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.footer-nav-link:hover {
    text-decoration: none;
    color: #ec6200;
}

.footer-nav-item {
    text-decoration: none;
    margin-right: 0;
}

.list-inline {
    padding: 10px;
}

.social-links {
    padding-bottom: 20px;
    display: block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #1e1e1e;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: #ec6200;
}


/*----------------------------------------About----------------------------------------*/

.image-top-about {
    background: url("../assets/images/profile-01.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    margin: 80px 10px 20px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.spacer-about-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.image-play-one {
    background: url("../assets/images/DeathtoStock_Simplify3 copy.jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-play-two {
    background: url("../assets/images/drums-01.jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-play-three {
    background: url("../assets/images/Death_to_Stock_Photography_RideorDie_3 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-play-four {
    background: url("../assets/images/iron-throne-01.JPG");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-play-five {
    background: url("../assets/images/Death_to_stock_photography_farm_8 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-play-six {
    background: url("../assets/images/DeathtoStock_SlowDown5 copy.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100px;
    margin: 20px 10px 30px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.image-list-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}

.image-list-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 60px;
}

/*----------------------------------------History----------------------------------------*/

.image-top-history {
    background: url("../assets/images/IMG_0630_rt2 copy.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    margin: 80px 10px 20px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

.spacer-history-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.timeline-item {
    margin-left: 20px;
    padding: 4em 2em 0em 3em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 60px;
}

/*----------------------------------------Contact----------------------------------------*/

.image-top-contact {
    background: url("../assets/images/Death_to_stock_photography_Wake_Up_2 copy.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 380px;
    margin: 80px 10px 20px 10px;
    border: solid;
    border-color: #fff;
    flex: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ec6200;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #bb4e00;
}

.container.contact-top {
    margin-bottom: 10px;
    padding: 0px 20px 5px 20px;
}

.container.contact-form {
    border-radius: 5px;
    background-color: #1e1e1e;
    margin-bottom: 40px;
    padding: 20px;
}

.spacer-contact-top {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

/*---Project---*/






navbar-toggle {
    padding: 4px;
    margin-left: 4px !important;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-position-x: left;
}

navbar  navbar-toggle {
    border: 0;
    float: left;
    display: block;
}

navbar-light navbar-toggle {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}

navbar-light navbar-toggle:hover {
    color: #ec6200;
    border-color: rgba(0,0,0,0);
}

dropdown {
    position: relative;
    display: inline-block;
}

navbar-nav {
    display: none;
    position: absolute;
    overflow: auto;
    flex-direction: row;
    margin: 10px 10px;
    min-width: 160px;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    z-index: 1;
}

navbar-nav a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


collapse:not(.show) {
    display: none;
}

navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

navbarNavDropdown {
    text-align: center;
}