@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700|Roboto+Condensed:100,200,300,400,500,600,700');

/*---Colors---*/


/*---Media Queries---*/
/*---Tablets---*/
@media screen and (min-width: 768px) {
    .image-center {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: center bottom;
    background-size: 95%;
    background-repeat: no-repeat;
    min-height: 320px;
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}

/*---Desktops---*/
@media screen and (min-width: 1150px) {
    .image-center {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-position: center bottom;
    background-size: 95%;
    background-repeat: no-repeat;
    min-height: 380px;
    margin: 100px 20px 60px 20px;
    flex: auto;
    }
}

/*---Navbar---*/
.navalert-container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
}

.navbar {
    position: sticky;
    margin-bottom: 0;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.navbar-toggler {
    padding: 4px 10px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-position-x: left;
}

.navbar .navbar-toggler {
    border: 0;
    float: left;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font: #ec6200;
}

.navbar-brand {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 22.7px;
    letter-spacing: 1.5px;
    display: block;
    margin: 10px auto;
    color: #1e1e1e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-brand:hover {
    font: #ec6200;
}

.nav-link {
    font-family: "Roboto+Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    color: #000;
}

.navbarNavDropdown {
    text-align: center;
}

/*---Section---*/
.image-top {
    background: url("../images/DeathtoStock_Creative Community3.jpg");
    background-blend-mode: overlay;
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 140px;
    margin: 100px 10px 60px 10px;
    flex: auto;
}

.image-top:hover {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: 100px;
}

body {
    background-color: #1e1e1e;
    text-align: ;
    overflow-y: scroll;
    height: auto;
}

.title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}

.spacer-full-width {
    height: 1px;
    margin: 40px 10px;
    background-color: #adb5bd;
    padding: 0px;
}

.image-center {
    background: url("../images/DeathtoStock_Desk1.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 250px;
    margin: 50px 10px 60px 10px;
    flex: auto;
}

/*---Section---*/

footer {
    background-color: #fff;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    text-align: center;
}

.navbar-nav {
    display: inline-flex;
    flex-direction: row;
    margin: 10px 10px;
    list-style: none;
}

.footer-nav-link {
    font-family: "Roboto+Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    padding: 0px;
    color: #1e1e1e;
}

.list-inline {
    padding: 10px;
}

.social-links {
    padding: 20px;
    display: block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #1e1e1e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ec6200;
}

